In [2]:
import pandas as pd

# 1st Trick

In [4]:
ufo = pd.read_csv('https://bit.ly/uforeports', usecols=['City', 'State'])
# ^ reading with a selection of col.s only
# ^ we could also write using indecies as well like: usecols=[0, 4]
ufo.columns

Index(['City', 'State'], dtype='object')

In [7]:
# the fastest method of reading from a CSV File
ufo = pd.read_csv('https://bit.ly/uforeports', nrows=3)
# nrows=3 <- would read only 3 rows
ufo

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

# 2nd Trick

In [8]:
for c in ufo.City:
    print(c)
# ^ iterating thru a series using "for"

Ithaca
Willingboro
Holyoke

In [9]:
for index, row in ufo.iterrows(): # <- iterrows-> for iterating thru each row
    print(index, row.City, row.State)
# ^ iterating thru a dframe using "for"

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO

# 3rd Trick

In [10]:
drinks = pd.read_csv('https://bit.ly/drinksbycountry')

In [11]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [12]:
# How to keep only the numeric col.s
import numpy as np
drinks.select_dtypes(include=[np.number]).dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

# 4th Trick

In [13]:
drinks.describe(include='all')
# include='all' <- includes all of the col.s even thou they are non-numeric
# ^ we can also pass in a list of dtypes for including those only

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000